<!DOCTYPE html>
<html>

<head>
  <title>home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/home.css' />
  <script src="/javascripts/index.js"></script>
</head>

<body>
  <div class="home">
    <div class="home--column">

      <div id="title">
        <h1> Da͢rt<span>s͈</span> MEN </h1>
      </div>

      <div class="items--left">
        <div class="item item__smash">
          <h2>
            大乱闘
          </h2>
        </div>

        <div class="item item__splits">
          <h2>
            スピリット
          </h2>
        </div>
      </div>

    </div>

    <div class="home--column items--right">

      <div class="item item__something">
        <h2>
          いろんな遊び
        </h2>
      </div>

      <div class="item item__collection">
        <h2>
          コレクション
        </h2>
      </div>

      <div class="item item__online">
        <h2>
          オンライン
        </h2>
      </div>

    </div>
  </div>
  <div id="darts-kun">

  </div>
</body>

</html>