<!DOCTYPE html>
<html>

<head>
  <title>home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/home.css' />
  <script src="/javascripts/index.js"></script>
</head>

<body>
  <div class="home">
    <div class="home--column">

      <div id="title">
        <h1> Da͢rt<span>s͈</span> MEN </h1>
      </div>

      <div class="items--left">
        <a class="item item__smash" href="rule-set?game=zero-one">
          <img src="/assets/zero-one.png" alt="">
        </a>

        <a class="item item__splits" href="rule-set?game=count-up">
          <img src="/assets/count-up.png" alt="count-up">
        </a>
      </div>

    </div>

    <div class="home--column items--right">

      <a class="item item__something" href="cricket">
        <img src="/assets/cricket.png" alt="cricket">
      </a>

      <a class="item item__collection" href="">
        <h2 class="coming-soon">
          Coming Soon
        </h2>
      </a>

      <a class="item item__online" href="score">
        <img src="/assets/score.png" alt="score">
      </a>

    </div>
  </div>
  <div id="darts-kun">

  </div>
</body>

</html>