body{
  background-color: #303030;
  margin :1rem;
}
.home{
  display: flex;
  width: 100%;
  height: 95vh;
}
.home--column{
  flex-grow: 1;
}

.item{
  border-radius: 1rem;
  margin:2%;
  box-sizing: border-box;
}

/* left */
#title{
  height:10%;
}
.items--left{
  height:90%;
}
.item__smash{
  background: linear-gradient(135deg, #f89174, #dc1432);      
  height: calc(60% - 4%);
}
.item__splits{
  background: linear-gradient(45deg, #3cb371, #228b22);
  height: calc(40% - 4%);
}

/* right */
.items--right{
  border-top-right-radius:    20% 50vh;
  border-bottom-right-radius: 50% 50vh;
  overflow: hidden;
}
.items--right>.item{
  margin-right: -2%;
}
.item__something{
  background: linear-gradient(225deg, #87cefa, #4169e1);
  height: calc(35% - 4%);
}
.item__collection{
  background: linear-gradient(280deg,#ffc0cb, #ee82ee);
  height: calc(25%);
}
.item__online{
  background: linear-gradient(310deg, #adff2f, #ffa500);
  height: calc(40% - 4%);
}


/* darts kun */
#darts-kun{
  position: fixed;
  top:  calc(50% - 35rem/2);
  left: calc(50% - 35rem/2);
  border-radius: 50%;
  background-color: #333;
  width: 35rem;
  height: 35rem;
}
